@import "files.css";

main {
  background-position: 0 23%;
}
.content-contain {
  margin-block-end: 72px;
}

.breadcrumbs {
  padding-inline-start: 236px;
}
.breadcrumb:last-of-type:before {
  content: "";
  background: transparent url(../../icons/arr-dark-blue.png) no-repeat
    center/contain;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: flex;
  transform: rotate(180deg);
}
.arrow-left {
  transform: rotate(-90deg);
  margin-inline-start: 13px;
  margin-inline-end: 0;
}
.card {
  max-height: 520px;
}

.card-header {
  grid-template-columns: 33% 15% 28% 24%;
}
.card-row {
  grid-template-columns: 33% 15% 28% 24%;
  align-items: center;
  color: var(--main-color);
}
.card-row .download-buttons > button.hide {
  opacity: 0;
}
@media (max-width: 1200px) {
  .breadcrumbs {
    padding-inline-start: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .content-contain {
    margin-block-end: 32px;
  }
  .card-header {
    grid-template-columns: 63% 26% 11%;
  }
  .card-row {
    grid-template-columns: 63% 26% 11%;
    align-items: center;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr;
  }
  .mobile {
    display: none;
  }
  .link {
    font-size: 16px;
  }
}
