@import "files.css";

main.archive-page {
  background-position: 0 23%;
}
.archive-page .content-contain {
  margin-block-end: 72px;
  margin-block-start: 50px;
}

.archive-page .breadcrumbs {
  padding-inline-start: 236px;
}
.archive-page .breadcrumb {
  font: 300 16px/1 "Assistant";
  color: var(--main-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.archive-page .breadcrumb:last-of-type:before {
  content: "";
  background: transparent url(../../icons/arr-dark-blue.png) no-repeat
    center/contain;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: flex;
  transform: rotate(180deg);
}
.archive-page .arrow-left {
  transform: rotate(-90deg);
  margin-inline-start: 13px;
  margin-inline-end: 0;
}
.archive-page .main-container {
  max-width: 701px;
  margin: 0 auto;
  margin-block-end: 97px;
}

.archive-page .main-container .info-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 50px;
}

.archive-page .info-1 h2,
.info-1 p {
  color: var(--main-color);
}

.archive-page .info-1 h2 {
  font-weight: 700;
  font-size: 32px;
}
.archive-page .info-1 p {
  font-size: 20px;
  font-weight: 600;
}

.archive-page .card-title {
  color: var(--main-color);
  margin-block-end: 24px;
}

.archive-page .card-title h3 {
  font-weight: 700;
  font-size: 24px;
}
.archive-page .card-title p {
  font-weight: 400;
  font-size: 18px;
  font-family: "Assistant-Regular", sans-serif;
  font-style: normal;
}

.archive-page .card {
  max-height: 520px;
  background: var(--white);
  box-shadow: 0px 4px 20px 0px #0129690f;
  border-radius: 12px;
  overflow: auto;
  padding-block-start: 24px;
  margin-block-end: 54px;
  max-width: 701px;
  width: 100%;
}

.archive-page .card-header {
  display: grid;

  grid-template-columns: 33% 15% 28% 24%;
  padding: 0 32px;
  color: var(--main-color);
  opacity: 0.5;
  font-size: 14px;
}
.archive-page .card-row {
  grid-template-columns: 33% 15% 28% 24%;
  align-items: center;
  color: var(--main-color);
  display: grid;
  font-size: 16px;
  border-bottom: 1px solid var(--border-color);
  min-height: 61px;
  padding: 20px;
}
.archive-page .card-row .download-buttons > button.hide {
  opacity: 0;
}
@media (max-width: 1200px) {
  .archive-page .breadcrumbs {
    padding-inline-start: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .archive-page h1 {
    font-size: 32px;
  }
  .archive-page .info-1 {
    align-items: flex-start !important;
  }
  .archive-page .content-contain {
    margin-block: 32px;
    padding: 0 24px;
  }
  .archive-page .card-header {
    grid-template-columns: 63% 26% 11%;
  }
  .archive-page .card-row {
    grid-template-columns: 63% 26% 11%;
    align-items: center;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr;
  }
  .archive-page .mobile {
    display: none;
  }
  .archive-page .link {
    font-size: 16px;
  }
  .archive-page .main-container {
    padding: 24px;
  }
  .archive-page .info-1 {
    align-items: flex-start;
  }
}
