main.legislation-page {
  background-color: #f8f8ff;
  background-image: url("../../../assets/images/bank_israel_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 23%;
}

.legislation-page .hero {
  background: #fff url("/assets/images/legislation_all.svg") no-repeat top
    left/contain;
  height: 251px;
  min-width: 100%;
  margin-block-end: 80px;
  position: relative;
}
.legislation-page .hero:after {
  content: "";
  background-image: url("../../images/circles.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -124px;
  left: 27%;
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
}
.legislation-page .breadcrumbs {
  display: flex;
  gap: 8px;
}
.legislation-page .breadcrumb {
  font: 300 16px/1 "Assistant";
  color: var(--main-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.legislation-page .breadcrumb:after {
  content: "";
  background: transparent url(../../icons/arr-dark-blue.png) no-repeat
    center/contain;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: flex;
}
.legislation-page .breadcrumb:last-of-type:after {
  background: none;
  margin-right: 0;
}

.legislation-page .content-contain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
  max-width: 1440px;
  padding-top: 50px;
  margin: 0 auto;
}

.legislation-page .hero .hero-title .h1 {
  font: 700 64px/70px "Assistant";
  color: var(--main-color);
  margin: 32px 0 24px 0;
}

.legislation-page .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*.header-row {*/
/*  background-image: url("/assets/images/legislation_all.svg");*/
/*  width: 100%;*/
/*  background-size: auto;*/
/*  height: 254px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  background-position-x: 0;*/
/*  background-repeat: no-repeat;*/
/*  background-color: var(--white);*/
/*  margin-block-end: 80px;*/
/*  position: relative;*/
/*}*/
.header-row:after {
  content: "";
  background-image: url("../../images/circles.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -124px;
  left: 27%;
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.header-links {
  display: flex;
  align-items: center;
}
.legislation-page .breadcrumb {
  color: var(--main-color);
  font-size: 1.333rem;
  font-weight: 300;
  cursor: pointer;
}
.legislation-page .breadcrumb.current {
  font-weight: 600;
}
.legislation-page .arrow-left {
  transform: rotate(90deg);
  margin-inline: 13px;
}
.legislation-page h1 {
  font-size: 5.333rem;
  font-weight: 700;
  color: var(--main-color);
}
.legislation-page .main-container {
  max-width: 701px;
  margin: 0 auto;
  margin-block-end: 97px;
}
.legislation-page .main-container .info-1 {
  display: flex;
  flex-direction: column;
}
.legislation-page .info-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 50px;
}
.legislation-page .info-1 h2,
.info-1 p {
  color: var(--main-color);
}
.legislation-page .info-1 h2 {
  font-weight: 700;
  font-size: 32px;
}
.legislation-page .info-1 p {
  font-size: 20px;
  font-weight: 600;
}
.legislation-page .card-title {
  color: var(--main-color);
  margin-block-end: 24px;
}
.legislation-page .card-title h3 {
  font-weight: 700;
  font-size: 24px;
}
.legislation-page .card-title p {
  font-weight: 400;
  font-size: 18px;
  font-family: "Assistant-Regular", sans-serif;
  font-style: normal;
}
.legislation-page .card {
  max-width: 701px;
  width: 100%;
  max-height: 495px;
  background: var(--white);
  box-shadow: 0px 4px 20px 0px #0129690f;
  border-radius: 12px;
  overflow: auto;
  padding-block-start: 24px;
  margin-block-end: 54px;
}
.legislation-page .card-header {
  display: grid;
  grid-template-columns: 1fr 87px;
  padding: 0 32px;
  color: var(--main-color);
  opacity: 0.5;
  font-size: 14px;
}
.legislation-page .card-row {
  display: grid;
  grid-template-columns: 30px 1fr 100px;
  font-size: 16px;
  border-bottom: 1px solid var(--border-color);
  min-height: 61px;
  padding: 20px;
}

.legislation-page .card-row:last-child {
  border-bottom: 0;
}
.legislation-page .card-row > p {
  color: var(--link);
  max-width: 379px;
}
.legislation-page .card-row > img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .legislation-page .header-row {
    height: 136px;
    background-size: cover;
    background-position-x: 50%;
  }
  .legislation-page .breadcrumbs {
    padding: 0 24px 0 0;
  }
  .legislation-page .link {
    font-size: 14px;
  }
  .legislation-page h1 {
    font-size: 32px;
  }
  .legislation-page .main-container {
    padding: 24px;
  }
  .legislation-page .info-1 {
    align-items: flex-start;
  }
  .legislation-page .header-row:after {
    top: -59px;
    left: 40%;
  }
  .legislation-page .hero {
    background: #fff url(/assets/images/legislation_all.svg) no-repeat top /
      cover;
    height: unset;
  }
  .legislation-page .hero .content-contain {
    max-width: 100%;
    padding: 12px 24px 0 24px;
  }
  .legislation-page .hero-title .h1 {
    font: 700 32px "Assistant" !important;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 768px) {
  .legislation-page .card-row {
    grid-template-columns: 30px 1fr 80px;
  }
  .legislation-page .card-header {
    padding: 0 23px;
    grid-template-columns: 1fr 80px;
  }
  .legislation-page .card-row > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}
