.main-container {
  max-width: 701px;
  margin: 0 auto;
  margin-block-end: 97px;
}
.main-container .info-1 {
  display: flex;
  flex-direction: column;
}
.info-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 50px;
}

.info-1 h2,
.info-1 p {
  color: var(--main-color);
}
.info-1 h2 {
  font-weight: 700;
  font-size: 32px;
}
.info-1 p {
  font-size: 20px;
  font-weight: 600;
}
