@import "../../styles/typography.css";

@import "archive_and_drafts.css";

main {
  background-image: url("../../images/messages_and_ads_bg.png");
  background-size: cover;
}
.header-row {
  margin-block-end: 50px !important;
}

.card-title h3 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-block-end: 48px;
}
.card {
  padding: 24px;
  border-radius: 4px 24px 4px 24px;
}
.card > h3 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  margin-block-end: 6px;
}
.card-date {
  color: var(--date-color);
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.card-date:before {
  content: "";
  position: relative;
  width: 3px;
  background: var(--date-line);
  display: inline-flex;
  height: 12px;
  margin-inline-end: 3px;
}
.card > p {
  font-size: 14px;
  color: var(--main-color);
}
.actions {
  margin-block-start: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: var(--link);
}
.actions > .download-btn {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
}
.actions > .download-btn > img {
  margin-inline-end: 11px;
}

.actions > .link-btn > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}

@media (max-width: 1199px) {
  .breadcrumbs {
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .card-title h3 {
    justify-content: flex-start;
  }
}
